<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 设置 -->
    <settings>
        <!--开启驼峰命名自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--log4j日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--显示开启缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 别名 -->
    <typeAliases>
        <package name="com.shiyq.pojo"/>
    </typeAliases>
    
    <!-- 插件 -->
    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

</configuration>